# Web & Interface
streamlit
fastapi
uvicorn

# OpenAI
openai

# Speech & Voice
SpeechRecognition
pyttsx3

# Google Translate
googletrans==3.1.0a0
google-api-python-client==2.70.0

# Spotify API
spotipy==2.22.1

# PDF
PyPDF2==3.0.1

# OpenCV (yangi, Python 3.12 bilan mos)
opencv-python-headless==4.8.0.76

# NLP & analiz
textblob
pydantic
requests
scikit-learn
